@import '../../assets/styles/variables';
@import '../../assets/styles/components';
@import '../../assets/styles/helpers';

//
// menu.scss
//

.navbar-custom {
    border-radius: 0;
    margin-bottom: 0;
    padding: 40px 0;
    transition: all 0.5s ease-in-out;
    width: 100%;
    z-index: 999;

    .navbar-nav {
        li {
            a {
                background-color: transparent !important;
                color: rgba($white, 0.6);
                font-weight: 500;
                font-size: 14px;
                line-height: 26px;
                margin: 0 10px;
                padding: 6px 0;
                text-transform: capitalize;
                transition: all 0.5s;
            }
        }
    }
}


.navbar-toggler {
    color: $dark;
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 5px;
}

.logo {
    .logo-light {
        display: inline-block;
    }
    .logo-dark {
        display: none;
    }
}

.nav-sticky {
    .logo {
        .logo-dark {
            display: inline-block;
        }
        .logo-light {
            display: none;
        }
    }
}

.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active {
    color: $white !important;
}

.navbar-toggle {
    color: $white;
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 5px;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
    border-color: #337ab7;
}

.navbar-custom {
    .navbar-toggles {
        background: 0 0;
        border: 1px solid transparent;
        color: $white;
        font-size: 18px;
        outline: 0;
        padding: .25rem .75rem;
    }

    .navbar-toggles-icon {
        display: inline-block;
        height: 1.5em;
        vertical-align: middle;
        width: 1.5em;
    }
}

.menu-toggle {
    padding: 4.5px 10px !important;
}

.menu-toggle {
    span {
        line-height: 27px;
    }
}

.navbar-button {
    margin-left: 20px;
}


/*---NAVBAR STICKY--*/

.nav-sticky {
    &.navbar-custom {
        background-color: $white;
        box-shadow: 0 10px 33px rgba(140, 140, 140, 0.1);
        margin-top: 0;
        padding: 15px 0;

        &.sticky-dark {
            background-color: $white;
        }
    }
    .logo {
        color: $dark !important;
    }

    .navbar-nav {
        li {
            a {
                color: $dark !important;
            }
        }
    }
}


.nav-sticky.navbar-custom .navbar-nav li.active a,
.nav-sticky.navbar-custom .navbar-nav li a:hover,
.nav-sticky.navbar-custom .navbar-nav li a:active {
    color: $pink !important;
}

.nav-sticky.navbar-custom .navbar-toggles {
    border: 1px solid transparent;
    outline: 0;
    padding: .25rem .75rem;
}

.nav-sticky .navbar-nav {
    margin-top: 0;
}

//
// Responsive
//

@media (min-width: 200px) and (max-width: 768px) {

    .navbar-custom {
        background-color: $white !important;
        box-shadow: 0 10px 33px rgba(0, 0, 0, .1);
        color: $white !important;
        margin-top: 0;
        padding: 15px 0px !important;

        .navbar-nav {
            margin-top: 0;
            li {
                &.active {
                    border-color: transparent;
                }
                a {
                    color: $dark !important;
                    margin: 0;
                    transition: all 0.4s;
                }
            }
        }
        >.container{
            width: 90%;
        }
    }
  
    .navbar-custom .navbar-nav li.active a,
    .navbar-custom .navbar-nav li a:hover,
    .navbar-custom .navbar-nav li a:active {
        color: $pink !important;
    }
  
   
    .navbar-toggler {
        color: $dark;
        font-size: 24px;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .home-title {
        font-size: 38px;
    }

    .navbar-button{
        margin-top: 15px;
        margin-left: 0;
    }


    .logo {
        .logo-light {
            display: none;
        }
        .logo-dark {
            display: inline-block;
        }
    } 

    .features-title {
        font-size: 28px;
    }

    .home-button span {
        display: none;
    }

    .home-title-2 {
        font-size: 32px;
    }
}
