<!-- START FOOTER -->
<section class="section footer">
    <div class="footer-bg-overlay"></div>
    <div class="container">

        <!-- START SUBSCRIBE -->
        <div class="row">
            <div class="col-lg-12">
                <div class="subscribe-heading">
                    <h4 class="text-center text-white">Be engaged Newsletter</h4>
                    <p class="title-desc text-center text-white-50 mt-4">Hemorrhoids, also known as piles, are an incredibly common.</p>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-12">
                <div class="subcribe-form mt-4">
                    <form action="#">
                        <input placeholder="Enter Your Email" type="text">
                        <button type="submit" class="btn btn-custom btn-round">Subscribe</button>
                    </form>
                    <div class="text-center mt-2">
                        <small class="text-white-50">You can un-subscribe at any time.</small>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SUBSCRIBE -->

        <!-- START FOOTER -->
        <div class="row footer-content mt-5 pt-5">
            <div class="col-lg-4">
                <img src="" alt="" height="24">
            </div>

            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-3">
                        <h5 class="f-18 text-white">Home</h5>
                        <ul class="list-unstyled footer-link mt-3">
                            <li><a href="">About us</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Contact us</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3">
                        <h5 class="f-18 text-white">Services</h5>
                        <ul class="list-unstyled footer-link mt-3">
                            <li><a href="">Terms & Condition</a></li>
                            <li><a href="">Jobs</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3">
                        <h5 class="f-18 text-white">Pricing</h5>
                        <ul class="list-unstyled footer-link mt-3">
                            <li><a href="">Business</a></li>
                            <li><a href="">Bookmarks</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3">
                        <h5 class="f-18 text-white">Contact</h5>
                        <ul class="list-unstyled footer-link mt-3">
                            <li><a href="">123-4556-789</a></li>
                            <li><a href="">Your@mail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END FOOTER -->

        <!-- START FOOTER-AlT -->
        <div class="row mt-5">
            <div class="col-lg-12">
                <p class="footer-alt text-center text-white-50 mb-0">{{ today }} © 4YourLife.</p>
            </div>
        </div>
        <!-- END FOOTER-ALT -->

    </div>
</section>
<!-- END FOOTER -->