<!-- START ABOUT -->
<section class="section bg-light" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title-heading text-center">How It Works</h1>
                <p class="title-desc text-center text-muted mt-4">Tentesque habitant morbi tristique senectus et netus malesuada fames turpis egestas quisque congue felis euismod Vestibulum ac vitae fringilla.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-4">
                <div class="services-box bg-white p-5 btn-round text-center mt-5">
                    <div class="about-icon">
                        <img src="../../assets/images/icon/eye.png" class="img-fluid" alt="">
                    </div>
                    <h5 class="mt-4 pt-2">Search Oportunities</h5>
                    <p class="text-muted mt-4 mb-0">Pellentesque viverra odiroto auggue molestie convallis solicitudin vesti volutpat.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="services-box bg-white p-5 btn-round text-center mt-5">
                    <div class="about-icon">
                        <img src="../../assets/images/icon/signal.png" class="img-fluid" alt="">
                    </div>
                    <h5 class="mt-4 pt-2">Reach Clients</h5>
                    <p class="text-muted mt-4 mb-0">Vestibulum euismod on ultrices laoreeti neque viverra vestibulum purus erat.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="services-box bg-white p-5 btn-round text-center mt-5">
                    <div class="about-icon">
                        <img src="../../assets/images/icon/cloud.png" class="img-fluid" alt="">
                    </div>
                    <h5 class="mt-4 pt-2">Get Rewarded</h5>
                    <p class="text-muted mt-4 mb-0">Suspendisse mattis enim id fringilla tristique Ut eget est justo duis odio lectus.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- END ABOUT-->