<!-- START FEATURES -->
<section class="section" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title-heading text-center">Amazing Features</h1>
                <p class="title-desc text-center text-muted mt-4">Call to action pricing table is really crucial to your for your business website. Make your bids stand-out with amazing options.</p>
            </div>
        </div>

        <div class="row mt-5 vertical-content">
            <div class="col-lg-4">
                <div class="features-box mt-5">
                    <div class="features-icon float-right">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M4,6V16H9V12A2,2 0 0,1 11,10H16A2,2 0 0,1 18,12V16H20V6H4M0,20V18H4A2,2 0 0,1 2,16V6A2,2 0 0,1 4,4H20A2,2 0 0,1 22,6V16A2,2 0 0,1 20,18H24V20H18V20C18,21.11 17.1,22 16,22H11A2,2 0 0,1 9,20H9L0,20M11.5,20A0.5,0.5 0 0,0 11,20.5A0.5,0.5 0 0,0 11.5,21A0.5,0.5 0 0,0 12,20.5A0.5,0.5 0 0,0 11.5,20M15.5,20A0.5,0.5 0 0,0 15,20.5A0.5,0.5 0 0,0 15.5,21A0.5,0.5 0 0,0 16,20.5A0.5,0.5 0 0,0 15.5,20M13,20V21H14V20H13M11,12V19H16V12H11Z" />
                        </svg>
                    </div>
                    <div class="features-content-3 pr-4 text-right mt-4">
                        <h5>Responsive web design</h5>
                        <p class="text-muted mt-3 mb-0">Suspendisse faucibus semper justo id consequat enim molestie feugiat curabitur tincidunt mattis.</p>
                    </div>
                </div>

                <div class="features-box mt-5">
                    <div class="features-icon float-right">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M14.6,16.6L19.2,12L14.6,7.4L16,6L22,12L16,18L14.6,16.6M9.4,16.6L4.8,12L9.4,7.4L8,6L2,12L8,18L9.4,16.6Z" />
                        </svg>
                    </div>
                    <div class="features-content-3 pr-4 text-right mt-4">
                        <h5>Clean code</h5>
                        <p class="text-muted mt-3 mb-0">Phasellus aliquet in dapibus cursus fusce finibus jusutto rutrum nullam fertum tristique honcus.</p>
                    </div>
                </div>

                <div class="features-box mt-5">
                    <div class="features-icon float-right">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M6,5.75L10.25,10H7V16H13.5L15.5,18H7A2,2 0 0,1 5,16V10H1.75L6,5.75M18,18.25L13.75,14H17V8H10.5L8.5,6H17A2,2 0 0,1 19,8V14H22.25L18,18.25Z" />
                        </svg>
                    </div>
                    <div class="features-content-3 pr-4 text-right mt-4">
                        <h5>Retina Ready</h5>
                        <p class="text-muted mt-3 mb-0">Maecenas venenatis risrus alliquam semper volutpat sollicitudin mauris ligula volutpat maximus.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="mt-4 text-center">
                    <img src="../../assets/images/screenshot/img-4.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="features-box mt-5">
                    <div class="features-icon float-left">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M11,13H13V15H11V13M11,5H13V11H11V5M17,4.76C18.86,6.19 20,8.61 20,11C20,14 18.33,16.64 15.86,18H8.14C5.67,16.64 4,14 4,11C4,8.61 5.09,6.17 7,4.76V2H5V3.86C3.15,5.68 2,8.2 2,11C2,13.8 3.15,16.32 5,18.14V22H7V20H9V22H11V20H13V22H15V20H17V22H19V18.14C20.85,16.32 22,13.8 22,11C22,8.2 20.85,5.68 19,3.86V2H17V4.76Z" />
                        </svg>
                    </div>
                    <div class="features-content-3 pl-4 mt-4">
                        <h5>Modern Design</h5>
                        <p class="text-muted mt-3 mb-0">Blandit ullamcorper dapibus ettiam condimentum vitae tempor donnec viverra eleifend maximus.</p>
                    </div>
                </div>

                <div class="features-box mt-5">
                    <div class="features-icon float-left">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,4A8,8 0 0,1 20,12C20,14.4 19,16.5 17.3,18C15.9,16.7 14,16 12,16C10,16 8.2,16.7 6.7,18C5,16.5 4,14.4 4,12A8,8 0 0,1 12,4M10,6A1,1 0 0,0 9,7A1,1 0 0,0 10,8A1,1 0 0,0 11,7A1,1 0 0,0 10,6M14,6A1,1 0 0,0 13,7A1,1 0 0,0 14,8A1,1 0 0,0 15,7A1,1 0 0,0 14,6M17.09,8.94C16.96,8.94 16.84,8.97 16.7,9L13.5,10.32L13.23,10.43C12.67,10 11.91,9.88 11.25,10.15C10.23,10.56 9.73,11.73 10.15,12.75C10.56,13.77 11.73,14.27 12.75,13.85C13.41,13.59 13.88,13 14,12.28L14.23,12.18L17.45,10.88L17.47,10.87C18,10.66 18.23,10.08 18.03,9.56C17.87,9.18 17.5,8.93 17.09,8.94M7,9A1,1 0 0,0 6,10A1,1 0 0,0 7,11A1,1 0 0,0 8,10A1,1 0 0,0 7,9Z" />
                        </svg>
                    </div>
                    <div class="features-content-3 pl-4 mt-4">
                        <h5>Premium Features</h5>
                        <p class="text-muted mt-3 mb-0">Maecenas convallis purus dapeibus tortor pellentesque efficitur jusstto diam porta molestie nec.</p>
                    </div>
                </div>

                <div class="features-box mt-5">
                    <div class="features-icon float-left">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M19.79,15.41C20.74,13.24 20.74,10.75 19.79,8.59L17.05,9.83C17.65,11.21 17.65,12.78 17.06,14.17L19.79,15.41M15.42,4.21C13.25,3.26 10.76,3.26 8.59,4.21L9.83,6.94C11.22,6.35 12.79,6.35 14.18,6.95L15.42,4.21M4.21,8.58C3.26,10.76 3.26,13.24 4.21,15.42L6.95,14.17C6.35,12.79 6.35,11.21 6.95,9.82L4.21,8.58M8.59,19.79C10.76,20.74 13.25,20.74 15.42,19.78L14.18,17.05C12.8,17.65 11.22,17.65 9.84,17.06L8.59,19.79M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,8A4,4 0 0,0 8,12A4,4 0 0,0 12,16A4,4 0 0,0 16,12A4,4 0 0,0 12,8Z" />
                        </svg>
                    </div>
                    <div class="features-content-3 pl-4 mt-4">
                        <h5>24/7 Support</h5>
                        <p class="text-muted mt-3 mb-0">Consequat vehiula duis iaculis risus vitae horoncus dictum proin porrtta amet turpis pentesque.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- END FEATURES -->
