<!-- START FOOTER -->
<section class="section footer">
    <div class="footer-bg-overlay"></div>
    <div class="container">

        <!-- START FOOTER -->
        <div class="row footer-content">
            <div class="col-lg-4">
                <img  class="logo" src="https://raw.githubusercontent.com/GustavoCaspirro/4yl-assets/master/png/1-1.png" alt="Logo 4FourLife">
            </div>

            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-3">
                        <h5 class="f-18 text-white">Home</h5>
                        <ul class="list-unstyled footer-link mt-3">
                            <li><a href="">About us</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Contact us</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3">
                        <h5 class="f-18 text-white">Services</h5>
                        <ul class="list-unstyled footer-link mt-3">
                            <li><a href="">Terms & Condition</a></li>
                            <li><a href="">Jobs</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3">
                        <h5 class="f-18 text-white">Pricing</h5>
                        <ul class="list-unstyled footer-link mt-3">
                            <li><a href="">Business</a></li>
                            <li><a href="">Bookmarks</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3">
                        <h5 class="f-18 text-white">Contact</h5>
                        <ul class="list-unstyled footer-link mt-3">
                            <li><a href="">123-4556-789</a></li>
                            <li><a href="">Your@mail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END FOOTER -->

        <!-- START FOOTER-AlT -->
        <div class="row mt-5">
            <div class="col-lg-12">
                <p class="footer-alt text-center text-white-50 mb-0">{{ today }} © 4YourLife.</p>
            </div>
        </div>
        <!-- END FOOTER-ALT -->

    </div>
</section>
<!-- END FOOTER -->