<!-- START CLIENT -->
<section class="section bg-client" id="clients">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="title-heading text-center">What they've said</h1>
                <p class="title-desc text-center text-muted mt-4">In an ideal world this website wouldn’t exist, a client would acknowledge the importance of having web copy before the design starts.</p>
            </div>
        </div>

        <div class="row mt-5 justify-content-center">
            <div class="col-lg-8">
                <div id="owl-demo">

                    <div class="client-content text-center mt-4">
                        <div class="clinet-img">
                            <img src="../../assets/images/users/img-1.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        <h5 class="mt-4">Raymond Sloan</h5>
                        <p class="f-12">Web Developer</p>
                        <p class="f-16 client-desc">"Aenean vehicula neque turpis at dictum purus malesuada Aenean risus ex sollicitudin nec pharetra in cursus aliquet."</p>
                    </div>

                    <div class="client-content text-center mt-4">
                        <div class="clinet-img">
                            <img src="../../assets/images/users/img-2.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        <h5 class="mt-4">Mary Shriner</h5>
                        <p class="f-12">Web Designer</p>
                        <p class="f-16 client-desc">"Aenean vehicula neque turpis at dictum purus malesuada Aenean risus ex sollicitudin nec pharetra in cursus aliquet."</p>
                    </div>

                    <div class="client-content text-center mt-4">
                        <div class="clinet-img">
                            <img src="../../assets/images/users/img-3.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        <h5 class="mt-4">Robert Garrett</h5>
                        <p class="f-12">Web Developer</p>
                        <p class="f-16 client-desc">"Aenean vehicula neque turpis at dictum purus malesuada Aenean risus ex sollicitudin nec pharetra in cursus aliquet."</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CLIENT -->