<!-- START SCREENSHOT -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title-heading text-center">Awesome Screenshots</h1>
                <p class="title-desc text-center text-muted mt-4">In an ideal world this website wouldn’t exist, a client would acknowledge the importance of having web copy before the design starts.</p>
            </div>
        </div>

        <div class="row mt-5 pt-4">
            <div class="col-lg-12">
                <owl-carousel
                    [options]="SlideOptions"
                    [items]="images"
                    [carouselClasses]="['owl-theme', 'sliding']"
                >
                    <div class="item mt-4" *ngFor="let img of images">
                        <div class="screenshot-img">
                            <img
                                src="../../assets/images/screenshot/{{img}}"
                                class="img-fluid"
                                alt="ScreenShot App"
                            />  
                        </div>
                    </div> 
                </owl-carousel>
            </div>
        </div>
    </div>
</section>
<!-- END SCREENSHOT -->