<!-- START HOME -->
<section class="home" id="home">
    <div class="home-bg-overlay"></div>
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row vertical-content">
                    <a href="#about" class="button-next-page">
                        <svg class="button-next-page__icon-next" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M11,6V14L7.5,10.5L6.08,11.92L12,17.84L17.92,11.92L16.5,10.5L13,14V6H11M12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22Z" />
                        </svg>
                    </a>

                    <div class="col-lg-6">
                        <div class="mt-4">
                            <div class="home__icon">
                                <i class="mdi mdi-cellphone-iphone"></i>
                            </div>
                            <h2 class="home__title mt-4 line-height_1_4">Welcome to <b>4YorLife</b>, The Most App For Life</h2>
                            <p class="home__desc text-white-50 mt-4">Vivamus lobortis vitae elit ultricies varius praesent pharetra molestie dapibus congue felis feugiat diam.</p>

                            <div class="download-content mt-4 pt-3">
                                <a href="" class="btn btn-custom btn-round mt-3 mr-3">
                                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="currentColor" d="M18.71,19.5C17.88,20.74 17,21.95 15.66,21.97C14.32,22 13.89,21.18 12.37,21.18C10.84,21.18 10.37,21.95 9.1,22C7.79,22.05 6.8,20.68 5.96,19.47C4.25,17 2.94,12.45 4.7,9.39C5.57,7.87 7.13,6.91 8.82,6.88C10.1,6.86 11.32,7.75 12.11,7.75C12.89,7.75 14.37,6.68 15.92,6.84C16.57,6.87 18.39,7.1 19.56,8.82C19.47,8.88 17.39,10.1 17.41,12.63C17.44,15.65 20.06,16.66 20.09,16.67C20.06,16.74 19.67,18.11 18.71,19.5M13,3.5C13.73,2.67 14.94,2.04 15.94,2C16.07,3.17 15.6,4.35 14.9,5.19C14.21,6.04 13.07,6.7 11.95,6.61C11.8,5.46 12.36,4.26 13,3.5Z" />
                                    </svg>
                                    App Store
                                </a>
                                <a href="" class="btn btn-custom btn-round mt-3 mr-3">
                                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="currentColor" d="M15,9A1,1 0 0,1 14,8A1,1 0 0,1 15,7A1,1 0 0,1 16,8A1,1 0 0,1 15,9M9,9A1,1 0 0,1 8,8A1,1 0 0,1 9,7A1,1 0 0,1 10,8A1,1 0 0,1 9,9M16.12,4.37L18.22,2.27L17.4,1.44L15.09,3.75C14.16,3.28 13.11,3 12,3C10.88,3 9.84,3.28 8.91,3.75L6.6,1.44L5.78,2.27L7.88,4.37C6.14,5.64 5,7.68 5,10V11H19V10C19,7.68 17.86,5.64 16.12,4.37M5,16C5,19.86 8.13,23 12,23A7,7 0 0,0 19,16V12H5V16Z" />
                                    </svg> 
                                    Android
                                </a>
                            </div>
                            <p class="text-white-50 mt-4">Vitae elit ultricies varius praesent pharetra</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="mt-4">
                            <div class="home-img-3 text-right">
                                <img src="../../assets/images/features/img-6.png" alt="Imagem Celular" class="img-fluid rounded">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END HOME -->