@import '../../../assets/styles/variables';
@import '../../../assets/styles/components';
@import '../../../assets/styles/helpers';

//
// home.scss
//

.home-center {
    display: table;
    height: 100%;
    width: 100%;
}

.home-desc-center {
    display: table-cell;
    vertical-align: middle;
}

.home-content {
    position: relative;
    z-index: 9;
}

.home-img {
    position: relative;
    z-index: 9;
}

.home-title {
    color: $white;
    font-size: 36px;
    max-width: 400px;
}

.home-desc {
    font-size: 16px;
    max-width: 370px;
}

.home-bg-overlay {
    background: url(../../../assets/images/bg-home.jpg);
    background-size: cover;
    background-position: top center;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.home-shape {
    display: block;
    bottom: 0;
    height: auto;
    left: 0;
    position: absolute;
    width: 100%;
}

.home-shape img {
    height: auto;
    width: 100%;
}

.button-next-page {
    animation: MoveUpDown 2s linear infinite;
    position: absolute;
    z-index: 1;
    
    &__icon-next {
        border-radius: 50%;
        display: flex;
        height: 50px;
        width: 50px;

        path {
            fill: $white;
        }
    }
}

.download__content {
    .btn-gplay {
        margin-right: 0 !important;
    }
}

.home {
    // background: $bg-gradient;
    background-size: cover;
    background-position: center center;
    padding: 100px 0 0;
    position: relative;

    @media screen and (min-width: 768px) {
        height: 100vh;
        padding: 0;
    }

    &__icon {
        i {
            color: $white;
            font-size: 30px;
        }
    }

    &__title {
        color: $white;
        font-size: 32px;
    }

    &__desc {
        font-size: 16px;
    }

    .informations {
        order: 2;
        padding-bottom: 90px;
        text-align: center;
        
        @media screen and (min-width: 768px) {
            order: 1;
            padding-bottom: 0;
            text-align: left;
        }
    }

    .phone {
        order: 1;
        @media screen and (min-width: 768px) {
            order: 2;
        }

        img {
            height: 306px;

            @media screen and (min-width: 768px) {
                height: auto;
            }
        }
    }
}

.start-form {
    input {
        border: none;
        border-radius: 30px;
        font-size: 14px;
        padding: 13px 28px;
        padding-right: 180px;
        width: 100%;
    }

    button {
        padding: 12px 24px;
        position: absolute;
        right: 0;
        top: 0;
    }

    form {
        position: relative;
        max-width: 450px;
    }
}

// Keyframes
@keyframes MoveUpDown {
    0%, 100% {
        bottom: 40px;
    }

    50% {
        bottom: 45px;
    }
}