<!-- START CLIENT -->
<section class="section bg-client" id="clients">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="title-heading text-center">What they've said</h1>
                <p class="title-desc text-center text-muted mt-4">In an ideal world this website wouldn’t exist, a client would acknowledge the importance of having web copy before the design starts.</p>
            </div>
        </div>

        <div class="row mt-5 justify-content-center">
            <div class="col-lg-8">
                <div id="owl-demo">
                    <owl-carousel
                        [options]="SlideOptions"
                        [items]="people"
                        [carouselClasses]="['owl-theme', 'sliding']"
                    >  
                    <div
                        class="client-content text-center mt-4"
                        *ngFor="let person of people"
                    >
                        <div class="clinet-img">
                            <img
                                src="../../assets/images/users/{{ person.img }}"
                                class="img-fluid rounded-circle"
                                alt="Foto de Pessoa que comentou sobre o aplicativo"
                            />
                        </div>
                        <h5 class="mt-4">{{ person.name }}</h5>
                        <p class="f-12">{{ person.jobRole }}</p>
                        <p class="f-16 client-desc">{{ person.comment }}</p>
                    </div>
                    </owl-carousel>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CLIENT -->

<!-- START CLIENT-LOGO -->
<section class="client-logo pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="client-images">
                    <img src="../../assets/images/clients/1.png" alt="logo-img" class="mx-auto img-fluid d-block">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="client-images">
                    <img src="../../assets/images/clients/2.png" alt="logo-img" class="mx-auto img-fluid d-block">
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="client-images">
                    <img src="../../assets/images/clients/3.png" alt="logo-img" class="mx-auto img-fluid d-block">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="client-images">
                    <img src="../../assets/images/clients/4.png" alt="logo-img" class="mx-auto img-fluid d-block">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CLIENT-LOGO -->