<!-- START PRICING -->
<section class="section bg-light" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title-heading text-center">Nossos planos</h1>
                <p class="title-desc text-center text-muted mt-4">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            </div>
        </div>

        <div class="row mt-4">

            <div class="col-lg-4">
                <div class="pricing-box text-center p-5 mt-5">
                    <h4 class="pricing-plan text-uppercase">Economy plan</h4>
                    <h2 class="pricing-price mt-5 mb-0">Free</h2>
                    <p class="pricing-month mt-1">Per Month</p>
                    <div class="plan-features mt-5">
                        <p>Bandwidth: <b>1GB</b></p>
                        <p>Onlinespace: <b>50MB</b></p>
                        <p>Support: <b>No</b></p>
                        <p><b>1</b> Domain</p>
                        <p><b>No</b> Hidden Fees</p>
                    </div>
                    <div class="mt-5">
                        <a href="" class="btn btn-secondary btn-sm btn-round">Join Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="pricing-box-active text-center bg-white p-5 mt-5">
                    <h4 class="pricing-plan text-uppercase">Deluxe Plan</h4>
                    <h2 class="pricing-price mt-5 mb-0">$19.00</h2>
                    <p class="pricing-month mt-1">Per Month</p>
                    <div class="plan-features mt-5">
                        <p>Bandwidth: <b>1GB</b></p>
                        <p>Onlinespace: <b>50MB</b></p>
                        <p>Support: <b>No</b></p>
                        <p><b>1</b> Domain</p>
                        <p><b>No</b> Hidden Fees</p>
                    </div>
                    <div class="mt-5">
                        <a href="" class="btn btn-custom btn-sm btn-round">Join Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="pricing-box text-center p-5 mt-5">
                    <h4 class="pricing-plan text-uppercase">Ultimate Plan</h4>
                    <h2 class="pricing-price mt-5 mb-0">$29.00 <span></span></h2>
                    <p class="pricing-month mt-1">Per Month</p>
                    <div class="plan-features mt-5">
                        <p>Bandwidth: <b>1GB</b></p>
                        <p>Onlinespace: <b>50MB</b></p>
                        <p>Support: <b>No</b></p>
                        <p><b>1</b> Domain</p>
                        <p><b>No</b> Hidden Fees</p>
                    </div>
                    <div class="mt-5">
                        <a href="" class="btn btn-secondary btn-sm btn-round">Join Now</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- END PRICING -->