@import '../../assets/styles/variables';
@import '../../assets/styles/components';
@import '../../assets/styles/helpers';

//
// home.scss
//

.home-center {
    display: table;
    height: 100%;
    width: 100%;
}

.home-desc-center {
    display: table-cell;
    vertical-align: middle;
}

.home-content {
    position: relative;
    z-index: 9;
}

.home-img {
    position: relative;
    z-index: 9;
}

.home-title {
    color: $white;
    font-size: 36px;
    max-width: 400px;
}

.home-desc {
    font-size: 16px;
    max-width: 370px;
}

.home-bg-overlay {
    background: url(../../assets/images/overlay.png);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.home-shape {
    display: block;
    bottom: 0;
    height: auto;
    left: 0;
    position: absolute;
    width: 100%;
}

.home-shape img {
    height: auto;
    width: 100%;
}

.bg-home-3 {
    background: $bg-gradient;
    background-size: cover;
    background-position: center center;
    padding: 170px 0 140px 0;
    position: relative;
}

.home-icon-3{
    i{
        color: $white;
        font-size: 30px;
    }
}

.home-title-3{
    color: $white;
    font-size: 32px;
}

.home-desc-3{
    font-size: 16px;
}

.start-form {
    input {
        border: none;
        border-radius: 30px;
        font-size: 14px;
        padding: 13px 28px;
        padding-right: 180px;
        width: 100%;
    }
    button {
        padding: 12px 24px;
        position: absolute;
        right: 0;
        top: 0;
    }
    form {
        position: relative;
        max-width: 450px;
    }
}