<!-- START HOME -->
<section class="bg-home-3" id="home">
    <div class="home-bg-overlay"></div>
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row vertical-content">
                    <div class="col-lg-6">
                        <div class="mt-4">
                            <div class="home-icon-3">
                                <i class="mdi mdi-cellphone-iphone"></i>
                            </div>
                            <h2 class="home-title-3 mt-4 line-height_1_4">Welcome to <b>4YorLife</b>, The Most App For Life</h2>
                            <p class="home-desc-3 text-white-50 mt-4">Vivamus lobortis vitae elit ultricies varius praesent pharetra molestie dapibus congue felis feugiat diam.</p>

                            <div class="start-form mt-4 pt-3">
                                <form action="#">
                                    <input placeholder="Type your email address" type="text">
                                    <button type="submit" class="btn btn-custom btn-rounded">Get started</button>
                                </form>
                            </div>
                            <p class="text-white-50 mt-4">Vitae elit ultricies varius praesent pharetra</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="mt-4">
                            <div class="home-img-3 text-right">
                                <img src="../../assets/images/features/img-6.png" alt="Imagem Celular" class="img-fluid rounded">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END HOME -->